#!/bin/bash

##
# It is recomended to `chmod 600 stash.diy-backup.vars.sh` after copying the template.
##

# Which database backup script to use (ex: mssql, postgresql, mysql, ebs-db, rds)
BACKUP_DATABASE_TYPE=postgresql

# Which filesystem backup script to use (ex: rsync, ebs-home)
BACKUP_HOME_TYPE=rsync

# Which archive backup script to use (ex: tar, tar-gpg)
BACKUP_ARCHIVE_TYPE=tar

# Used by the scripts for verbose logging. If not true only errors will be shown.
STASH_VERBOSE_BACKUP=TRUE

# The base url used to access this stash instance
STASH_URL=

# The username and password for the user used to make backups (and have this permission)
STASH_BACKUP_USER=
STASH_BACKUP_PASS=

# The name of the database used by this instance.
STASH_DB=stash
# The path to stash home folder (with trailing /)
STASH_HOME=

# OS level user and group information (typically: 'stash' for both)
STASH_UID=atlstash
STASH_GID=atlstash

# The path to working folder for the backup
STASH_BACKUP_ROOT=
STASH_BACKUP_DB=${STASH_BACKUP_ROOT}/stash-db/
STASH_BACKUP_HOME=${STASH_BACKUP_ROOT}/stash-home/

# The path to where the backup archives are stored
STASH_BACKUP_ARCHIVE_ROOT=

# List of repo IDs which should be excluded from the backup
# It should be space separated: (2 5 88)
STASH_BACKUP_EXCLUDE_REPOS=()

# PostgreSQL options
POSTGRES_HOST=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

# MySQL options
MYSQL_HOST=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_BACKUP_OPTIONS=

# HipChat options
HIPCHAT_URL=https://api.hipchat.com
HIPCHAT_ROOM=
HIPCHAT_TOKEN=

# Options for the tar-gpg archive type
STASH_BACKUP_GPG_RECIPIENT=

# AWS Specific variables

# The access key id to use when authenticating with the AWS API.
# Not necessary if the instance has been launched with the appropriate IAM role or if it has been set as an environment variable
#AWS_ACCESS_KEY_ID=
# The access key secret to use when authenticating with the AWS API.
# Not necessary if the instance has been launched with the appropriate IAM role or if it has been set as an environment variable
#AWS_SECRET_ACCESS_KEY=

# The availability zone in which volumes will be created when restoring and instance
AWS_AVAILABILITY_ZONE=`curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone`
# The region for the resources Stash is using (volumes, instances, snapshots, etc)
AWS_REGION=`echo \"${AWS_AVAILABILITY_ZONE}\" | sed -e 's:\([0-9][0-9]*\)[a-z]*\$:\\1:'`"

# The ID for the volume holding the home directory
BACKUP_HOME_DIRECTORY_VOLUME_ID=
# The mount point for the home directory volume
BACKUP_HOME_DIRECTORY_MOUNT_POINT=
# The ID for the snapshot to use when restoring the volume with the home directory
RESTORE_HOME_DIRECTORY_SNAPSHOT_ID=
# The type of volume to create when restoring the home directory
RESTORE_HOME_DIRECTORY_VOLUME_TYPE=
# Required if RESTORE_HOME_DIRECTORY_VOLUME_TYPE has been set to 'io1'
# The IOPS that should be provisioned for the new volume. Note: Maximum IOPS to volume size ratio is 30
RESTORE_HOME_DIRECTORY_IOPS=

# Only necessary if the database data directory is in a different volume than BACKUP_HOME_DIRECTORY_VOLUME_ID
# The ID for the volume holding the database data directory.
BACKUP_DB_DATA_DIRECTORY_VOLUME_ID=
# Required if BACKUP_DB_DATA_DIRECTORY_VOLUME_ID has been provided
# The mount point for the database data directory volume
BACKUP_DB_DIRECTORY_MOUNT_POINT=
# Only necessary if the database data directory has been backed up in a different snapshot than RESTORE_HOME_DIRECTORY_SNAPSHOT_ID
# The ID for the snapshot to use when restoring the volume with the data directory.
RESTORE_DB_DATA_DIRECTORY_SNAPSHOT_ID=
# Required if RESTORE_DB_DATA_DIRECTORY_SNAPSHOT_ID has been provided
# The type of volume to create when restoring the database data directory
RESTORE_DB_DATA_DIRECTORY_VOLUME_TYPE=
# Required if RESTORE_DB_DATA_DIRECTORY_SNAPSHOT_ID has been provided and RESTORE_DB_DATA_DIRECTORY_VOLUME_TYPE has been set to 'io1'
# The IOPS that should be provisioned for the new volume. Note: Maximum IOPS to volume size ratio is 30
RESTORE_DB_DATA_DIRECTORY_IOPS=

# The RDS instance ID for the database to backup
BACKUP_RDS_INSTANCE_ID=
# The RDS instance ID for the database to create on restore
RESTORE_RDS_INSTANCE_ID=
# The rds snapshot ID to use when restoring the database
RESTORE_RDS_SNAPSHOT_ID=
# The instance class to use when restoring the database
RESTORE_RDS_INSTANCE_CLASS=db.r3.large
# The subnet in which the database will be restored
RESTORE_RDS_SUBNET_GROUP_NAME=
# The security group to assign to the restored instance
RESTORE_RDS_SECURITY_GROUP=
